// Colors
$smoke: #F9F6FF;
$metal: #E4DFED;
$coal: #000000;
$snow: #ffffff;
$tile2: #41C9B8;
$tile4: #34C7B4;
$tile8: #FDB5A3;
$tile16: #FFA48E;
$tile32: #FF8D71;
$tile64: #ED6355;
$tile128: #F08377;
$tile256: #F0D677;
$tile512: #FFD687;
$tile1024: #FFB256;
$tile2048: #FF7300;
$tile4096: #C7B6FC;

// Border Radius
$br-8: 8px;
$br-12: 12px;
$br-16: 16px;

// Grid
$g-gap-16: 16px;
$g-gap-24: 24px;
$g-gap-32: 32px;
$g-gap-64: 64px;