@import "./variables";

.main-container {
    width: 436px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-container.eight {
    width: 526px;
}

.main-container.eight .grid-container {
    zoom: 0.6;
}

.header-container {
    background: $metal;
    height: 96px;
    font-size: 48px;
    border-radius: $br-12;
}

.info-container {
    background: $metal;
    border-radius: $br-12;
    padding: 2rem;
}

.info-container .title {
    font-size: 24px;
    margin-bottom: 6px;
}

.info-container .desc {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.info-container .arrow-image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.game-header {
    display: flex;
    margin-bottom: 1rem;
}

.game-header .new-game-btn {
    border-radius: $br-12;
    background: $coal;
    color: $snow;
    height: 80px;
    padding: 0 2rem;
    transition: all 0.4s;
}

.game-header .new-game-btn:hover,
.modal-container .modal-btn:hover {
    background: #242424;
    cursor: pointer;
}

.game-header .score-container {
    background: $metal;
    height: 80px;
    border-radius: $br-12;
    padding: 0 2rem;
    flex-direction: column;
}

@for $row from 0 through 8 {
    @for $column from 0 through 8 {
        .position_#{$row}_#{$column}:not(.isMoving) {
            top: 110 * $row + 5px;
            left: 110 * $column + 5px;
        }
    }
}

@for $fromRow from 0 through 8 {
    @for $toRow from 0 through 8 {
        $name: row_from_#{$fromRow}_to_#{$toRow};

        @if $fromRow==$toRow {
            .#{$name} {
                top: 110 * $toRow + 5px;
            }
        }

        @else {
            .#{$name} {
                animation-duration: 0.2s;
                animation-name: $name;
                animation-fill-mode: forwards;
            }

            @keyframes #{$name} {
                from {
                    top: 110 * $fromRow + 5px;
                }

                to {
                    top: 110 * $toRow + 5px;
                }
            }
        }
    }
}

@for $fromColumn from 0 through 8 {
    @for $toColumn from 0 through 8 {
        $name: column_from_#{$fromColumn}_to_#{$toColumn};

        @if $fromColumn==$toColumn {
            .#{$name} {
                left: 110 * $toColumn + 5px;
            }
        }

        @else {
            .#{$name} {
                animation-duration: 0.2s;
                animation-name: $name;
                animation-fill-mode: forwards;
            }

            @keyframes #{$name} {
                from {
                    left: 110 * $fromColumn + 5px;
                }

                to {
                    left: 110 * $toColumn + 5px;
                }
            }
        }
    }
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    background: white;
    border-radius: 12px;
    padding: 2rem;
    transform: translate(-50%, -50%);
}

.modal-container .title {
    font-size: 36px;
}

.modal-container .modal-image {
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 2rem 0;
}

.modal-container .modal-btn {
    height: 64px;
    background: black;
    color: white;
    border-radius: 12px;
    width: 100%;
    font-size: 24px;
    transition: all 0.4s;
}

.modal-container .size-block {
    margin-top: 1rem;
}

.modal-container .size-block,
.modal-container .score-block {
    width: 100%;
    margin-bottom: 1rem;
}

.modal-container .score-block {
    margin-bottom: 2rem;
}

.modal-container .sub-title {
    font-size: 24px;
    margin-bottom: 1rem;
}

.modal-container .block-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.modal-container .block-container > div {
    background: $metal;
    color: $coal;
    border-radius: 12px;
    height: 80px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    cursor: pointer;
}

.modal-container .block-container > div.active,
.modal-container .block-container > div:hover {
    background: $tile2;
    color: $snow;
}

@media only screen and (max-device-width: 760px) {
    .main-container {
        zoom: 0.8;
    }

    .modal-container {
        width: 76%;
    }
}